@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsListViewModel //each view can only be bound to one Model

    <h1>Water Project</h1>

    @foreach (Project p in Model.Projects)
    {
      <h3>@p.ProjectName</h3>
      <ul>
        <li>Project Type: @p.ProjectType</li>
        <li>Regional Program: @p.ProgramName</li>
        <li>Impact: @p.ProjectImpact served</li>
        <li>Project Installation Date: @p.ProjectInstallation</li>
        <li>Project Phase: @p.ProjectPhase</li>
        <li>what up</li>
      </ul>  
    }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>
